.content-section {
  display: block;
  animation: fadeIn 0.5s ease-in;
}

.table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;

  .table-head {
    border-bottom: 1px solid #ddd;
    padding-bottom: 14px;

    .caption-head {
      font-size: 16px;
      padding: 0.35em 0.35em 16px;
      text-align: left;
    }
  }

  .row {
    padding: 0.35em;
  }

  .head {
    padding: 0.35em;
    font-size: 16px;
  }

  .head,
  .data {
    padding: 0.625em;
    text-align: left;
    font-size: 18px;
    overflow: hidden;
    width: 300px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
