.container {
  display: flex;
  min-height: 100vh;

  /* Стили для основного контента */
  .mainContent {
    flex: 1;
    padding: 40px;
    background-color: white;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
